<div class="d-flex">
    <div style="height: 91vh; width: 160px;" class="sidebar bg-danger text-light p-3 d-flex flex-column mt-1">
        <a style="text-decoration: none; margin-top: 10px; font-weight: bold;color: white; letter-spacing: 1px;" routerLink="/dashboard">Home</a>
        <a style="text-decoration: none; margin-top: 10px; font-weight: bold;color: white;letter-spacing: 1px" routerLink="/users">Users</a>
    </div>
    <div class="dashboard p-3 w-100">
        <div class="d-flex align-items-center justify-content-between p-5">
            <h2 style="font-weight: 600; letter-spacing: 1px;">Users</h2>
            <button class="btn btn-warning fw-bolder">New User</button>
        </div>
        <div style="overflow-y: auto;" class="px-5">
            <table class="table border">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>User 1</td>
                        <td>user1@gmail.com</td>
                        <td>Active</td>
                        <td><button style="font-size: 12px;" class="btn btn-secondary px-4">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>