<div class="d-flex">
    <div style="height: 91vh; width: 160px;" class="sidebar bg-danger text-light p-3 d-flex flex-column mt-1">
        <a style="text-decoration: none; margin-top: 10px; font-weight: bold;color: white; letter-spacing: 1px;" routerLink="/dashboard">Home</a>
        <a style="text-decoration: none; margin-top: 10px; font-weight: bold;color: white;letter-spacing: 1px" routerLink="/users">Users</a>
    </div>
    <div class="dashboard p-3 w-100">
        <h1>Welcome Admin!!!</h1>
    </div>
</div>